.nav-link:hover{
  color:purple !important;
  font-weight: bold !important;
}
a:hover{
  color:purple !important;
  outline:1px purple !important;
  background-color: white !important;
}
.nav-link{
  color: black !important;
}
.bg{
  background-color:purple !important;
  color: white !important;

}
.buttonss{
  justify-content: space-between !important;
}
.dropdown-menu{
  left:-4rem !important;
}
